{% extends 'base.html' %}

{% load static %}

{% block  title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}
<section id="summary" class="flex justify-between bg-violet-800 rounded-xl px-12 py-12 mb-12">
    <div>
        <h2 class="text-white text-6xl font-semibold">{{ post.title }}</h2>
        <div>
            {% for tag in tags %}
            <span>{{ tag.caption }}</span>
            {%endfor%}
        </div>
    </div>
    <div>
        <img src="{{ post.image.url }}"
             alt="post title"
             class="w-16 md:w-32 lg:w-48 border-4 border-white rotate-12"/>
        <address class="text-white">By <a href="">{{post.author}}</a></address>
        <div class="text-white">
            Last updated on <time>{{ post.date|date:"d M Y" }}</time>
        </div>
    </div>
</section>
<main class="bg-white rounded-xl px-12 py-12 mb-12 shadow-md">
    <p>{{ post.content|linebreaks }}</p>
</main>
{% endblock %}